.custom-dropdown-toggle::after { /*Rimuove la freccia il basso dal bottone dropdown*/
    display: none !important;
  }
.icon-effect {
    background-color: transparent !important; /* Rimuove lo sfondo */
    border: none !important; /* Rimuove il bordo */
    color: black !important; /* Cambia il colore del testo in nero */
    transition: transform 0.3s ease; /* Aggiunge un'animazione di transizione */
    transform-origin: center; /* Imposta l'origine della trasformazione al centro */
}
.icon-effect:hover {
    background-color: rgb(228, 228, 228) !important; /* Cambia il colore dello sfondo al passaggio del mouse */
    transform: scale(1.03); /* Ingrossa leggermente il bottone al passaggio del mouse */
  }
.icon-effect-active {
    background-color: rgb(228, 228, 228) !important; /* Cambia il colore dello sfondo al passaggio del mouse */
    transform: scale(1.03); /* Ingrossa leggermente il bottone al passaggio del mouse */
  }
.icon-effect-heart:hover {
    transform: scale(1.2); /* Ingrossa leggermente il bottone al passaggio del mouse */
    fill: red;
    stroke: red;
  }
.logo-effect:hover{
  transform: scale(1.15);
}
  .artesum-button {
    background-color: transparent !important; /* Rimuove lo sfondo */
    color: black !important; /* Cambia il colore del testo in nero */
    border: none !important; /* Rimuove il bordo */
    transition: box-shadow 0.3s, transform 0.3s; /* Aggiunge transizioni per ombra e trasformazione */
    border: 1px solid black !important; /* Aggiunge un bordo nero */
  }
  
  .artesum-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important; /* Aggiunge un'ombra al passaggio del mouse */
    transform: scale(1.03); /* Ingrossa leggermente il bottone al passaggio del mouse */
  }
  
  .artesum-button:active {
    box-shadow: inset 0 0 10px rgba(233, 117, 22, 0.5) !important; /* Aggiunge un'ombra quando il pulsante viene cliccato */
    border: 1px solid rgb(238, 157, 7) !important; 
    color: rgb(236, 165, 10) !important; /* Cambia il colore del testo  */
  }
  .artesum-button-black {
    background-color: black !important; /* Rimuove lo sfondo */
    color: white!important; /* Cambia il colore del testo in nero */
    border: none !important; /* Rimuove il bordo */
    transition: box-shadow 0.3s, transform 0.3s; /* Aggiunge transizioni per ombra e trasformazione */
    border: 1px solid black !important; /* Aggiunge un bordo nero */
  }
  
  .artesum-button-black:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important; /* Aggiunge un'ombra al passaggio del mouse */
    transform: scale(1.05); /* Ingrossa leggermente il bottone al passaggio del mouse */
  }
  .a-b-o {
    /* Artesum-Button-Orange*/ 
    background-color: #E38F38 !important; /* Rimuove lo sfondo */
    color: white !important; /* Cambia il colore del testo in bianco */
    border: none !important; /* Rimuove il bordo */
    transition: box-shadow 0.3s, transform 0.3s; /* Aggiunge transizioni per ombra e trasformazione */
  }
  .a-b-o:hover {
    transform: scale(1.02); 
  }
  .a-b-o-h {
    /* Artesum-Button-Orange-over_OUTLINE*/ 
    background-color: #E38F38 !important; /* Rimuove lo sfondo */
    color: white !important; /* Cambia il colore del testo in bianco */
    border: none !important; /* Rimuove il bordo */
  }
  .a-b-o-h:hover {
    /* Artesum-Button-Orange-over_OUTLINE*/ 
    background-color: white !important; 
    color: #E38F38 !important;
    box-shadow: inset 0 0 0 1px #E38F38 !important; /* Brodo Interno*/
  }
  .a-b-o-t {
    /* Artesum-Button-Orange-TAG*/ 
    background-color: #E38F38 !important; /* Rimuove lo sfondo */
    color: white !important; /* Cambia il colore del testo in bianco */
    border: none !important; /* Rimuove il bordo */
  }
  .a-b-22{
    background-color: #e3903873 !important;
  }
  .text-art {
    /* Text-Color-OrangeArtesum*/ 
    color: #E38F38 !important; /* Cambia il colore del testo in bianco */
  }
  .bg-header-content-rx{
    background: linear-gradient(to right, #ffc400, rgba(255, 251, 0, 0.479) );
  }
  .bg-header-content-sx{
    background: linear-gradient(to right, rgba(255, 251, 0, 0.479) , #ffc400);
  }
  .bg-header{
    background: linear-gradient(to bottom, #E38F38 0%, #FFFFFF 100%);
  }
  .bg-header-black{
    background: linear-gradient(to bottom, black 0%, #FFFFFF 100%);
  }
  
  .text-content{
    color:rgb(146, 97, 6) !important;
  }
  .orange-on-hover:hover {
    color: orange; /* Cambia il colore del testo in arancione quando il mouse è sopra l'elemento*/
    cursor: pointer;
  }
 .hoover-card:hover{
  background-color: white;
  box-shadow: 0 0 15px black;
  border-radius: 10px;
  transform: scale(1.06);
  z-index: 1;
 }
 .scegli-file-aes::file-selector-button {
  background-color: orange !important; /* Cambia il colore di sfondo */
  color: white !important; /* Cambia il colore del testo */
  border-radius: 5px !important; /* Arrotonda i bordi */
}
.search-custom:hover{
  transform: scale(1.06);
}
.search-custom{
  background-color: #E38F38 !important; /* Cambia il colore di sfondo */
}
/*--------------------------------------------------------------------------------------------------------Personalizzazione Input Caricamento Immagini---------*/
.custom-file-input {
  background-color: rgb(126, 126, 126) !important;
  color: white !important; 
}
.custom-file-input::-webkit-file-upload-button {
  background-color: black !important;
  color: white !important;
  /* border-color: black; */
    /* padding: 0.2em !important; */
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.custom-file-input::file-selector-button {
  color: white; /* Cambia il colore del testo del bottone "Scegli file" */
}
.placeholder::placeholder {
    color: #777777 !important;
}
.artesum-color{
  background-color: #E38F38 !important; /* Cambia il colore di sfondo */
}
.artesum-color-button{
  background-color: #E38F38 !important; /* Cambia il colore di sfondo */
  border: none !important; /* Rimuove il bordo */
}
.artesum-color-button:hover{
  background-color: #e39038be !important; /* Cambia il colore di sfondo */
}
.header-card{
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.19), 0px 6px 6px 0px rgba(0,0,0,0.23);
}
.header-card:hover{
  box-shadow: 0px 15px 28px 0px rgba(0,0,0,0.19), 0px 12px 12px 0px rgba(0,0,0,0.23);
}
.order-card{
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12), 0px 1px 2px 0px rgba(0,0,0,0.24);
}
.order-card:hover{
  transform: scale(1.01);
}
.shodow-p{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.shodow-p:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.shodow-p-nh{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.overlay {
  /*----Sfondo oscurato quando apre i dropdown nella navbar------*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5) !important;/* Opacità 50% */
  z-index: 999; /* Assicura che l'overlay sia sopra a tutti gli altri elementi */
}
.border-art{
  border-bottom-color: #E38F38 !important;
  border-bottom-width: 6px !important;
  border-bottom-style: solid !important;
}
.border-art-light{
  border-bottom-color: #E38F38 !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
}
.border-art-b{
  border-color: #E38F38 !important;
}
.border-spazio {
  box-shadow: 
    -4px 0 0 rgb(255, 255, 255), /* Primo bordo a sinistra */
   -8px 0 0 #E38F38 ; /* Secondo bordo a sinistra */
}

.animate__animated.animate__fadeInTopLeft{
  --animate-duration: 3s;
}
.animate__animated.animate__fadeInTopRight{
  --animate-duration: 3s;
}
.animate__animated.animate__fadeInRight{
  --animate-duration: 4s;
}
.animate__animated.animate__fadeInLeft{
  --animate-duration: 3s;
}
.animate__animated.animate__zoomIn{
  --animate-duration: 2s;
}





